<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Highlights</title>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    

    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet" />

    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    
    <!--custom styles-->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" />
    <!--JQUERY -->
    <script src="{{ url_for('static', filename='assets/js/jquery-3.3.1.js') }}"></script>
    <!-- Bootstrap Js -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
</head>